
body{
	background: #12314bfc;
}
.container{
	width: 40%;
	height: 80vh;
	margin: 0 auto;
	background: #7d8499;
	border-radius: 20px;
	text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5%;

 
}

.gridContainer{
	width: 80%;
	height: 80%;
	margin: 0 auto;
	background-color: white;
	display: grid;
}
.grid-boxes {
  background-color: white;
  border: 0.5px solid #7d849933;
}


.btnResetGrid{
	margin: 10px;
	padding: 10px;
	border: 0px;
	border-radius: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #FFFFFF;
}

.fa-refresh{
	color: #14334D;

}

button:focus{
	outline: none;
}

/* Responsiveness */

@media only screen and (max-width: 376px){
	.container{
		width: 65%;

		height: 80vh;
	}
}
